
.logo{
height: 27px;
width: 27px;
}


.icon{
width: 20px;
height: 20px;
z-index: 100;
}

.icon2{
width: 45px;
height: 45px;
z-index: 100;
margin-right: 15px;
margin-left: 3px;
}
.icon3{
width: 23px;
height: 23px;
margin-right: 2px;
margin-left: 0px;
}

